# Secrets
.env
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual Environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/*.duckdb
!data/lol_deploy.duckdb
data/*.db
data/*.parquet

# Trained models
models/*.pkl

# VSCode
.vscode/
*.code-workspace

# Windows
Thumbs.db
Desktop.ini
ehthumbs.db
$RECYCLE.BIN/

# Misc
*.log
*.tmp
